/* responsive banane k liye page ko ek chota sa media querry banaya h */
@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

/* screen choti hone pe single coloumn mein aa jane k liye ye media querry dala h */

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;

        grid-template-areas:
            "nav-wrapper"
            "left-column"
            "right-column";
    }

    .right-column {
        justify-content: center;
    }
}